# SPDX-License-Identifier: Apache-2.0
# This file was created or modified with the assistance of an AI (Large Language Model).

.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
patchwork.egg-info
tests
docs
